In [10]:
import pandas as pd
import time # time over
import requests
import json

from bs4 import BeautifulSoup
from fake_useragent import UserAgent

from tqdm import tqdm # 반복문 진행률 표시

In [11]:
df = pd.read_csv('./test.csv', encoding = 'CP949') # pandas 라이브러리 csv 파일 읽을 때 사용
df.head(10) # df 앞에서 10개만 출력

   Unnamed: 0                         error
0      240003             경북 칠곡군 왜관읍 아곡리149
1      240005               경기 이천시 증포동153-2
2      240011      경기 남양주시 화도읍 녹촌리82-5 외1필지
3      240014    충청북도 청주시 서원구 2순환로 14901,2층
4      240015          충남 천안시 서북구 성환읍353-13
5      240018               경북 구미시 남통동270-3
6      240019   대전광역시 동구 동서대로 1579102동 301호
7      240023             서울 서대문구 남가좌동341-1
8      240029  서울 서초구 반포동19-4 경부선터미널 10층 1호
9      240031          경북 구미시 신평동신비로 26, 1층

In [14]:
headers = {'user-agent':UserAgent().chrome} # 서버에서 봇으로 인지하여 차단당하는 것을 막기 위해 사용
api_key = 'API KEY 입력' # 지오코딩 API키 입력
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?key=' + api_key + '&sensor=false&language=ko&address=' # python은 string 변수간에 + 연산시 하나로 합쳐짐

point_list = [] # 위도, 경도를 입력받을 list
formatted_address_list = [] # 서버에서 API를 이용하여 정형화된 주소를 입력받을 list
address1_list = [] # 광역지방자치단체(특별시, 광역시, 특별자치시, 도, 특별자치도) 입력받을 list
address2_list = [] # 기초지방자치단체(구, 군, 자치시, 군) 입력받을 list
address3_list = [] # 비자치구역(동, 읍, 면, 리 etc) 입력받을 list

api_request_count = 0 # API 요청 횟수 count

# csv 파일의 길이만큼 반복문 시행
for i in tqdm(range(len(df))): # for문 안에 tqdm 사용시 반복문 진행률 확인 가능
    address = df['error'][i] # csv 파일에서 데이터 주소데이터 입력받음
    url = base_url + str(address) # 지오코딩에서 요구하는 url 형식과 주소데이터를 함께 입력
    resp = requests.get(url, headers = headers, verify = False) # 위에서 입력받은 url을 가지고 API요청
    page = json.loads(resp.text) # API 요청 후 서버에서 제공하는 데이터를 json 타입으로 읽어온다. (크롬에 url 직접 입력하면 형식을 볼 수 있음 -> dictionary type)

    api_request_count += 1 # API를 요청했기 때문에 API 요청 횟수 증가

    if page['status'] == 'ZERO_RESULTS' : # API 요청할 때 주소값이 엉망으로 입력된 경우 'ZERO_RESULTS'값을 받는 경우
        count = -1 # count를 하나씩 감소시킴으로써 글자를 뒤에서부터 하나씩 제거함
        # 기본적인 알고리즘은 이상한 주소값이 들어온 경우 한글자씩 제거하면 가장 비슷한 주소가 입력될 것이라고 가정하여 알고리즘 작성
        # ex) 경기도 성남시 분당구 정자일로 2401층115호(정자동,월드프라자) -> 경기도 성남시 분당구 정자일로 240
        # 또한 구글 지오코딩은 띄어쓰기나 주소 오입력시 가장 비슷한 주소를 return해 주기도 함

        APPROXIMATE_FLAG = 0 # 하지만, 지오코딩이 자동으로 잡아줄 때 가끔 원하는 좌표보다 먼 곳을 잡아주는 경우를 잡기 위한 변수

        while True:
            try : # try except구문은 에러가 발생하지 않으면 try문을 실행하고, error가 발생하면 except문을 실행한다.

                address = df['error'][i][:count] # Python 텍스트 슬라이싱 방법 ex) A = '가나다라마바사'
                # A[0:5] -> A변수의 0번째 index부터 4번째 index까지 출력 -> '가나다라마' 까지만 출력된다.
                # A[:-1] -> :를 기준으로 왼쪽에 값을 입력하지 않으면 자동으로 0이 입력되고, 오른쪽엔 -1을 입력했기 때문에 뒤에서부터 첫번째 값 까지만 출력한다는 뜻
                # 즉, A[:-1] -> '가나다라마바' 까지만 출력
                
                # 위에 있는 코드와 동일
                url = base_url + address
                resp = requests.get(url, headers = headers, verify=False)
                page = json.loads(resp.text)

                api_request_count += 1

                if len(address) + count == 0 : # 글자를 뒤에서부터 하나씩 제거하다가 결국 전부 다 제거한 경우
                    if APPROXIMATE_FLAG == 1 : # 이 때 구글에서 한번이라도 비슷한 주소를 찾아준 경우 그 주소를 기반으로 값을 입력받는다.

                        # 위에 있는 코드와 동일
                        url = base_url + APPROXIMATE_formatted_address
                        resp = requests.get(url, headers = headers, verify=False)
                        page = json.loads(resp.text)

                        api_request_count += 1

                        # 구글에 API 요청 후 제공하는 데이터가 딕셔너리기 때문에 아래와 같이 위도와 경도값을 입력받는다.
                        lat = str(page['results'][0]['geometry']['location']['lat'])
                        lng = str(page['results'][0]['geometry']['location']['lng'])

                        # 주소를 입력하는 값에 따라 도, 시, 구 등을 return 해주는 경우도 있고 아닌 경우도 있기 때문에 배열 index 접근이 아닌 조건문을 써서 접근한다.
                        for j in page['results'][0]['address_components'] :
                            # administrative_area_level_1 은 도, 특별시와 같은 행정구역을 return
                            if 'administrative_area_level_1' in j['types'] :
                                address1 += j['long_name']
                            # localtiy는 시, 군과 같은 행정구역을 return
                            elif 'locality' in j['types'] :
                                address2_1 += j['long_name']
                            # sublocality_level_1은 구와 같은 행정구역을 return 
                            elif 'sublocality_level_1' in j['types'] :
                                address2_2 += j['long_name']
                            # sublocality_level_2는 동과 같은 행정구역을 return
                            elif 'sublocality_level_2' in j['types'] :
                                address3_1 += j['long_name']
                            # sublocality_level_4는 도로와 같은 행정구역을 return  ex)화중로
                            elif 'sublocality_level_4' in j['types'] :
                                address3_2 += j['long_name']

                        # 경도와 위도를 넣을 때 중간에 ',' 문자를 넣어서 경도와 위도를 구분지어줌
                        temp_str = lng + ',' + lat
                        point_list.append(temp_str)

                        # 구글에서 비슷한 주소를 찾아주는 경우 앞에 대한민국이라는 주소와 뒤에 KR이라는 불필요한 값을 함께 주는 경우가 있음
                        # 뒤에 KR이 있는 경우 -3까지 슬라이싱을 하여 KR제거
                        if 'KR' in APPROXIMATE_formatted_address :
                            formatted_address_list.append(APPROXIMATE_formatted_address[5:-3])
                        # 뒤에 KR이 없는 경우에는 대한민국만 제거
                        else :
                            formatted_address_list.append(APPROXIMATE_formatted_address[5:])

                        address1_list.append(address1)

                        # 시와 구는 함께 넣어야 하기 때문에 아래와 같이 진행
                        # 시가 존재하지 않는 경우에는 구만 입력
                        if len(address2_1) == 0 :
                            address2_list.append(address2_2)
                        # 시가 존재하는 경우에는 시와 구를 함께 입력 ex) 고양시 덕양구
                        else :
                            address2_list.append(address2_1 + ' ' + address2_2)
                        
                        # 구글 지오코딩의 경우 도로명 주소를 넣으면 도로명 주소값으로 주고 지번주소를 넣으면 지번주소를 return하기 때문에
                        # 동 주소가 존재하는 경우에는 동 주소로 넣고 아니면 도로명 주소로 넣는다.
                        if len(address3_1) == 0 :
                            address3_list.append(address3_2)
                        else :
                            address3_list.append(address3_1)
                        break
                    
                    # 모든 경우를 만족하지 않는 경우에는 ERROR가 발생했다고 처리하고 다른 코드와 cross check를 통해 해결
                    # 이마저도 안되면 직접 수기로 해결한다.
                    else : 
                        point_list.append('ERROR OCCURED.')
                        formatted_address_list.append('ERROR OCCURED.')
                        address1_list.append("ERROR OCCURED.")
                        address2_list.append("ERROR OCCURED.")
                        address3_list.append("ERROR OCCURED.")
                        break
                
                elif page['status'] == 'ZERO_RESULTS' :
                    count -= 1
                    continue
                
                # 구글 지오코딩의 경우에는 'location_type'이 4가지가 존재한다. 자세한 사항은 https://developers.google.com/maps/documentation/geocoding/overview 에 설명되어있다.
                # 'ROOFTOP' -> indicates that the returned result is a precise geocode for which we have location information accurate down to street address precision.
                # 'RANGE_INTERPOLATED' -> indicates that the returned result reflects an approximation (usually on a road) interpolated between two precise points (such as intersections). 
                #                         Interpolated results are generally returned when rooftop geocodes are unavailable for a street address.
                # 'GEOMETRIC_CENTER' -> indicates that the returned result is the geometric center of a result such as a polyline (for example, a street) or polygon (region).
                # 'APPROXIMATE' -> indicates that the returned result is approximate.
                
                # 가장 정확한 값을 return하는 ROOFTOP을 최대한 사용하기 위해 코드를 구성, 뒤에서 한글자씩 제거를 함에도 ROOFTOP을 사용하지 못한 경우에는 APPROXIMATE 값을 이용하는 코드로 구성
                
                # 구글 지오코딩에서 한번이라도 'APPROXIMATE'값을 return해준 경우 조건을 check하기 위해 APPROXIMATE_FLAG 변수를 1로 바꿔준다.
                elif page['results'][0]['geometry']['location_type'] == 'APPROXIMATE' :
                    if APPROXIMATE_FLAG == 0 : # APPROXIMATE를 한번이라도 return해준 경우 APPROXIMATE일 때 정제된 주소를 변수에 넣어 기억해준다.
                        APPROXIMATE_formatted_address = page['results'][0]['formatted_address']
                        APPROXIMATE_FLAG = 1 # 단 한번이라도 APPROXIMATE값을 입력받은 경우를 check하기 위한 변수
                    else : # APPROXIMATE 값을 받았는데, 이미 APPROXIMATE_FLAG가 1인 경우에는 글자를 한글자씩 감소시켜 ROOFTOP이 될 때 까지 API를 요청해본다.
                        count -= 1
                    continue
                
                # 'ROOFTOP'은 가장 정확한 주소를 입력한 경우이기 때문에 모든 값을 변수에 저장한다.
                elif page['results'][0]['geometry']['location_type'] == 'ROOFTOP' :

                    # 위에 있는 코드와 동일
                    lat = str(page['results'][0]['geometry']['location']['lat'])
                    lng = str(page['results'][0]['geometry']['location']['lng'])
                    formatted_address = page['results'][0]['formatted_address']

                    address1 = ''
                    address2_1 = ''
                    address2_2 = ''
                    address3_1 = ''
                    address3_2 = ''

                    for j in page['results'][0]['address_components'] :
                        if 'administrative_area_level_1' in j['types'] :
                            address1 += j['long_name']
                        elif 'locality' in j['types'] :
                            address2_1 += j['long_name']
                        elif 'sublocality_level_1' in j['types'] :
                            address2_2 += j['long_name']
                        elif 'sublocality_level_2' in j['types'] :
                            address3_1 += j['long_name']
                        elif 'sublocality_level_4' in j['types'] :
                            address3_2 += j['long_name']

                    temp_str = lng + ',' + lat
                    point_list.append(temp_str)

                    if 'KR' in formatted_address :
                        formatted_address_list.append(formatted_address[5:-3])
                    else :
                        formatted_address_list.append(formatted_address[5:])

                    address1_list.append(address1)

                    if len(address2_1) == 0 :
                        address2_list.append(address2_1 + address2_2)
                    else :
                        address2_list.append(address2_1 + ' ' + address2_2)
                    
                    if len(address3_1) == 0 :
                        address3_list.append(address3_2)
                    else :
                        address3_list.append(address3_1)
                    break

                else :
                    count -= 1
            except :
                time.sleep(5)
                continue
                
    else: # 처음 시도부터 정확한 주소값을 받은 경우

        lat = str(page['results'][0]['geometry']['location']['lat'])
        lng = str(page['results'][0]['geometry']['location']['lng'])
        formatted_address = page['results'][0]['formatted_address']

        address1 = ''
        address2_1 = ''
        address2_2 = ''
        address3_1 = ''
        address3_2 = ''

        for j in page['results'][0]['address_components'] :
            if 'administrative_area_level_1' in j['types'] :
                address1 += j['long_name']
            elif 'locality' in j['types'] :
                address2_1 += j['long_name']
            elif 'sublocality_level_1' in j['types'] :
                address2_2 += j['long_name']
            elif 'sublocality_level_2' in j['types'] :
                address3_1 += j['long_name']
            elif 'sublocality_level_4' in j['types'] :
                address3_2 += j['long_name']

        temp_str = lng + ',' + lat
        point_list.append(temp_str)

        if 'KR' in formatted_address :
            formatted_address_list.append(formatted_address[5:-3])
        else :
            formatted_address_list.append(formatted_address[5:])

        address1_list.append(address1)

        if len(address2_1) == 0 :
            address2_list.append(address2_1 + address2_2)
        else :
            address2_list.append(address2_1 + ' ' + address2_2)

        if len(address3_1) == 0 :
            address3_list.append(address3_2)
        else :
            address3_list.append(address3_1)

100%|██████████| 50/50 [02:08<00:00,  2.58s/it]

In [15]:
# csv 파일의 갯수와 API를 요청하여 return 받은 값의 갯수가 같은지 확인
result_count = len(point_list)
result_count

50

In [16]:
# API 요청갯수 확인
api_request_count

71

In [27]:
# input 값으로 넣어준 csv 파일의 갯수와 API를 요청하여 return 받은 값의 갯수가 다른 경우에만 사용
# pandas dataframe에 row 갯수를 맞추지 않고 대입할 경우 error가 발생하기 때문에 슬라이싱을 이용하여 처리

# df = df.drop(df.index[result_count:])
# df['point'] = point_list[:result_count]
# df['formatted_address'] = formatted_address_list[:result_count]
# df['address1'] = address1_list[:result_count]
# df['address2'] = address2_list[:result_count]
# df['address3'] = address3_list[:result_count]

In [17]:
# input 값으로 넣어준 csv 파일의 갯수와 API를 요청하여 return 받은 값의 갯수가 같은 경우

df['point'] = point_list
df['formatted_address'] = formatted_address_list
df['address1'] = address1_list
df['address2'] = address2_list
df['address3'] = address3_list

In [18]:
df.head(50)

,Unnamed: 0,error,point,formatted_address,address1,address2,address3
0,240003,경북 칠곡군 왜관읍 아곡리149,"128.4301263,36.0140985",경상북도 칠곡군 왜관읍 아곡리 149,경상북도,칠곡군,왜관읍
1,240005,경기 이천시 증포동153-2,"127.454034,37.2898498",경기도 이천시 증포동 153-2,경기도,이천시,증포동
2,240011,경기 남양주시 화도읍 녹촌리82-5 외1필지,"127.2979878,37.6446446",경기도 남양주시 화도읍 녹촌리 82-5,경기도,남양주시,화도읍
3,240014,"충청북도 청주시 서원구 2순환로 14901,2층","127.4381966,36.6333448",충청북도 청주시 흥덕구 2순환로,충청북도,청주시 흥덕구,2순환로
4,240015,충남 천안시 서북구 성환읍353-13,"127.131046,36.9166037",충청남도 천안시 서북구 성환읍 성환리 353-13,충청남도,천안시 서북구,성환읍
5,240018,경북 구미시 남통동270-3,"128.3151662,36.1116661",경상북도 구미시 남통동 270-3,경상북도,구미시,남통동
6,240019,대전광역시 동구 동서대로 1579102동 301호,"127.4301253,36.3454714",대전광역시 동구 동서대로,대전광역시,동구,동서대로
7,240023,서울 서대문구 남가좌동341-1,"126.9233067,37.5780482",서울특별시 서대문구 남가좌동 341-1,서울특별시,서대문구,남가좌동
8,240029,서울 서초구 반포동19-4 경부선터미널 10층 1호,"127.006719,37.5054942",서울특별시 서초구 반포동 19-4,서울특별시,서초구,반포동
9,240031,"경북 구미시 신평동신비로 26, 1층","128.3652642,36.1221708",경상북도 구미시 신평2동 신비로 26 1층,경상북도,구미시,신평2동
10,240036,"경기 안양시 동안구 비산동평촌대로476번길 13-6 1,2층","126.951477,37.4139594",경기도 안양시 동안구 비산동 평촌대로476번길 13,경기도,안양시 동안구,비산동
11,240039,제주특별자치도 제주시 신설로4길 31층 101호(이도이동),"126.5420883,33.4938143",제주특별자치도 제주시 신설로4길,제주특별자치도,제주시,신설로4길
12,240040,경기 과천시 중앙동40-11 현대빌딩 203,"126.9913332,37.4283853",경기도 과천시 중앙동 40-11,경기도,과천시,중앙동
13,240042,전남 목포시 삼학동1416-6,"126.4065753,34.7914987",전라남도 목포시 삼학동 1416-6,전라남도,목포시,삼학동
14,240043,광주 북구 운암동1040-25,"126.8724789,35.18188140000001",광주광역시 북구 운암동 1040-25,광주광역시,북구,운암동
15,240044,경기 광주시 경안동33-15 1층,"127.2571932,37.4088813",경기도 광주시 경안동 33-15 1층,경기도,광주시,경안동
16,240045,"서울특별시 강동구 양재대로 15471,2층","127.1411034,37.5374092",서울특별시 강동구 양재대로,서울특별시,강동구,양재대로
17,240046,전라남도 여수시 남산로 60-312층(남산동),"127.7322552,34.7358189",전라남도 여수시 대교동 남산로 60 312층,전라남도,여수시,대교동
18,240047,울산광역시 중구 종가2길 471층 (유곡동),"129.2969777,35.5622023",울산광역시 중구 유곡동 471 2,울산광역시,중구,유곡동
19,240051,"경상남도 거제시 거제중앙로 1883-2109,110호","128.6239642,34.8862879",경상남도 거제시 고현동 거제중앙로 1883 110호,경상남도,거제시,고현동
20,240053,경남 김해시 어방동1103-1,"128.9037726,35.2343087",경상남도 김해시 어방동 1103-1,경상남도,김해시,어방동
21,240054,경기 고양시 덕양구 내곡동50-1 13/2,"126.8101284,37.6437801",경기도 고양시 덕양구 내곡동 50-1,경기도,고양시 덕양구,내곡동
22,240056,인천 서구 원창동381-69 외 1필지,"126.6434689,37.5131942",인천광역시 서구 신현원창동 381,인천광역시,서구,신현원창동
23,240058,경상남도 창원시 마산회원구 삼호로 80210동1층130호,"128.579688,35.2207275",경상남도 창원시 마산회원구 회원동 삼호로 63,경상남도,창원시 마산회원구,회원동
24,240059,"부산광역시 동래구 사직북로5번길 301,2층","129.0601041,35.1973711",부산광역시 사직2동 사직동 78-5번지 3층 301호 세미프라자 동래구 부산광역시,부산광역시,,사직2동
25,240060,경상남도 진주시 진양호로 406-12층 신안동,"128.069449,35.1864543",진주시 신안동 신안동 12-24번지 1층 진주시 경상남도,,진주시,신안동
26,240061,"대구 남구 대명동1792-31, 1792-33","128.5902599,35.8545692",대구광역시 남구 대명동 1792-31,대구광역시,남구,대명동
27,240062,제주 서귀포시 강정동172-3,"126.506096,33.2528626",제주특별자치도 서귀포시 강정동 172-2,제주특별자치도,서귀포시,강정동
28,240063,부산 해운대구 좌동897-3,"129.1757313,35.1734684",부산광역시 해운대구 좌동 897-3,부산광역시,해운대구,좌동
29,240066,전북 장수군 장수읍 장수리508-1,"127.5186898,35.6474368",전라북도 장수군 장수읍 장수리 508-1,전라북도,장수군,장수읍
30,240068,광주광역시 남구 백운로 91-21층 104호,"126.9059926,35.1412678",광주광역시 남구 백운1동 백운로 91-1 21층 104호,광주광역시,남구,백운1동
31,240075,서울특별시 양천구 중앙로52길 24101호(신정동),"126.8565659,37.5259543",서울특별시 양천구 신정4동 915-2,서울특별시,양천구,신정4동
32,240077,"서울 영등포구 여의도동 맨하탄빌딩국회대로 74길 20, 지상1층","126.926893,37.5207606",서울특별시 영등포구 여의동 36-2,서울특별시,영등포구,여의동
33,240078,전북 장수군 장수읍 장수리454-5,"127.5190336,35.6499611",전라북도 장수군 장수읍 장수리 454-5,전라북도,장수군,장수읍
34,240082,강원 평창군 평창읍 하리141-2,"128.394464,37.3678501",강원도 평창군 평창읍 하리 141-2,강원도,평창군,평창읍
35,240083,경기 시흥시 계수동380-16,"126.8001086,37.4628557",경기도 시흥시 계수동 380-16,경기도,시흥시,계수동
36,240084,경기도 수원시 영통구 매탄로79번길 5-7102호,"127.0417892,37.2577073",경기도 수원시 영통구 매탄3동 매탄로79번길 5-9 7102호,경기도,수원시 영통구,매탄3동
37,240085,경기 양주시 광적면 가납리836-2,"126.9837371,37.8260805",경기도 양주시 광적면 가납리 836-2,경기도,양주시,광적면
38,240089,"경기도 남양주시 사릉로34번길 243,4호","127.2113031,37.6363596",경기도 남양주시 금곡동 사릉로34번길,경기도,남양주시,금곡동
39,240090,"세종특별자치시 만남로 1461층 103,104,105호 (고운동,삼성프라자)",ERROR OCCURED.,ERROR OCCURED.,ERROR OCCURED.,ERROR OCCURED.,ERROR OCCURED.
40,240091,대구 북구 산격동793-62,"128.5940427,35.8944365",대구광역시 북구 산격동 793-62,대구광역시,북구,산격동
41,240094,강원 고성군 현내면대진리 183-4,"128.427488,38.497025",강원도 고성군 현내면 대진리 183-4,강원도,고성군,현내면
42,240095,경남 거제시 고현동998,"128.6285911,34.8945286",경상남도 거제시 고현동 998,경상남도,거제시,고현동
43,240097,경남 양산시 남부동397-10,"129.0389265,35.3373964",경상남도 양산시 남부동 397-10,경상남도,양산시,남부동
44,240099,경북 구미시 선산읍동부리456,"128.3024573,36.2428092",경상북도 구미시 선산읍 동부리 456,경상북도,구미시,선산읍
45,240104,강원도 영월군 영월읍 제방안길 16-10,"128.4719702,37.182417",강원도 영월군 영월읍 제방안길 16,강원도,영월군,영월읍
46,240105,충남 홍성군 홍성읍 오관리141-2,"126.6634687,36.6027091",충청남도 홍성군 홍성읍 오관리 141-2,충청남도,홍성군,홍성읍
47,240106,서울특별시 송파구 백제고분로 384101,"127.0981246,37.5079559",서울특별시 송파구 백제고분로,서울특별시,송파구,백제고분로
48,240108,경상북도 포항시 북구 대곡로43번길 10103호 (두호동),"129.3726576,36.0666879",경상북도 포항시 북구 대곡로43번길,경상북도,포항시 북구,대곡로43번길
49,240110,인천광역시 남구 경원대로864번길 102층 202호,"126.6918362,37.4602992",인천광역시 남구 경원대로864번길,인천광역시,남구,경원대로864번길

In [20]:
# 처리한 데이터를 csv파일로 다시 저장하는 작업
df.to_csv('formatted_result.csv', encoding = 'euc-kr', index = False)